body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* CABEÇALHO */
#logo {
  margin-bottom: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  height: 55px;
  box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}
.logo h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #212529;
}
.filtersContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.estiloGeralBotoes {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
  padding: 14px 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #12b886;
}

.estiloGeralBotoes--filtrarHortifruti {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 26px;
  background-color: rgba(18, 184, 134, 0.05);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #12b886;
}
.estiloGeralBotoes--filtrarHortifruti:hover, .estiloGeralBotoes--filtrarPanificadora:hover, .estiloGeralBotoes--filtrarLaticinios:hover{
    color: white;
    background-color: #12b886;
}
.estiloGeralBotoes--filtrarPanificadora {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 26px;
  background-color: rgba(18, 184, 134, 0.05);
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #12b886;
}
.estiloGeralBotoes--filtrarLaticinios {
  margin-left: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 26px;
  background-color: rgba(18, 184, 134, 0.05);
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #12b886;
}

.containerBuscaPorFiltro {
  display: flex;
  flex-flow: row wrap;
}
.containerBuscaPorNome {
  margin-left: 160px;
  display: flex;
  justify-content: space-between;
}

.campoBuscaPorNome {
  margin-right: 9px;
  box-sizing: border-box;
  border: transparent;
  background: #f1f3f5;
  border-radius: 8px;
  padding: 0 20px;
  width: 324px;
  height: 52px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
  width: 59px;
  height: 52px;
  background: #12b886;
  border: 1.5px solid #12b886;
  border-radius: 8px;
  color: white;
}

/* CONTEÚDO */

.containerListaProdutos {
  display: flex;
  flex-flow: column wrap;
}

.containerListaProdutos ul {
  list-style: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.containerListaProdutos ul li {
  height: 275px;
  color: black;
  font-weight: bold;
  margin: 54px 25px 58px;
  border: transparent;
}
/* Imagem de cada item */
.containerListaProdutos ul li img {
  width: 274px;
  height: 175px;
  border-radius: 4px;
  margin-bottom: 16px;
}
/* Nome de cada item */
.containerListaProdutos ul li h3 {
    color: #212529;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  margin-top: 16px;
}
/* Preço de cada item */
.containerListaProdutos ul li p {
    color: #212529;
  margin-top: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
/* Categoria de cada item */
.span--categoria {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #868e96;
  display: flex;
  margin-top: 16px;
  font-weight: 500;
}

/* PREÇO TOTAL */
.containerPrecoTotal {
  padding: 10px 20px 12px;
  margin-right: 146px;
  margin-left: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  text-align: center;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
}
.containerPrecoTotal p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #212529;
}
.containerValor {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 82px;
  height: 34px;
  background-color: #212529;
  border-radius: 4px;
  color: #fff;
}
